@model com.NascimentoSoftware.BookStore.WebApp.Models.eCommerce.ProdutosFinalizacao

@{
    ViewData["Title"] = "FinalizarCompra";
}
<html>

<head>


</head>
<body>

    <p>


    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a class="btn btn-primary" asp-action="Finalizar">Finalizar</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listaLivros)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</body>
</html>